* {
    box-sizing: border-box;
}
body {
    background-color: #eaeaea; 
    font-family: Arial, Helvetica, 
    sans-serif;
    margin: 0;
}
.mainWrapper {
    margin: 0 auto; 
    margin-top: 20px; 
    max-width: 900px; 
    text-align: center;
}
.allPokemons {
    position: relative;
    max-width: 780px;
    margin: 0 auto;
}
.pokeContainer {
    margin-bottom: 20px; width: 146px; float:left; background-color: #fff;
    border-radius: 10px; margin-right: 10px; display:flex; 
    flex-direction: column; align-items: center; padding: 10px
}
.pokeName {
    margin-bottom: 5px; 
    font-weight: bold; 
    text-transform: capitalize;
}
.pokeDesc {
    font-size:12px
}
.button {
    width: 100%; 
    padding: 20px; 
    background-color: aquamarine;
    color:darkcyan; 
    border: 0; 
    font-weight: bold; 
    font-size: 16px;
}
.hide {
    display: none;
}
.pokeContainer {
    border: 2px solid #fff;
}
.pokeContainer:hover {
border: 2px solid lightgreen;
box-shadow: 0px 10px 23px 0px rgba(0,0,0,0.05);
-webkit-box-shadow: 0px 10px 23px 0px rgba(0,0,0,0.05);
-moz-box-shadow: 0px 10px 23px 0px rgba(0,0,0,0.05);
cursor: pointer;
}
ion-icon {
    color: #fff;
    --ionicon-stroke-width: 64px;
}

#panel {
    width: 400px;
    height: 400px;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 5000;
    top: 120px;
    border-radius: 10px;
    box-shadow: 0px 10px 23px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 10px 23px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 10px 23px 0px rgba(0,0,0,0.1);
}
.closePanel {
    width: 30px;
    height: 30px;
    background-color: lightcoral;
    border-radius: 100px;
    position: absolute;
    right: -10px;
    top: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.closePanel :hover {
    cursor: pointer;
}
/*===================*/
/* BOB
/*===================*/

@-webkit-keyframes bob-on-hover {
    0% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
    50% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  @keyframes bob-on-hover {
    0% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
    50% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  @-webkit-keyframes bob-on-hover-float {
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  @keyframes bob-on-hover-float {
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  .bob-on-hover {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .bob-on-hover:hover, .bob-on-hover:focus, .bob-on-hover:active {
    -webkit-animation-name: bob-on-hover-float, bob-on-hover;
    animation-name: bob-on-hover-float, bob-on-hover;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
  }